/* Importação de fontes para o site */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Resetando configuração padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* Configuraçao do background do site e do corpo*/
body {
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/backgroun-imperio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/*Cabeçalho*/
header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 80px;;
}

/* Container da logo do site */
header img {
    position: relative;
    left: 20px;
    width: 120px;
    height: 120px;
}

/* Container do formúlario */
#container-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.8);
    width: 450px;
    height: 520px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 10vh;
}

/* titulo do formulario */
#container-box h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #fff;
}

/* configuração do formúlario */
#container-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* input e label */
#container-form label, input {
    margin: 5px 0;
}

#container-form label {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #F2E205;
}

#container-form input {
    padding: 10px;
    font-size: 18px;
    border: none;
    background: transparent;
    border-bottom: 1px solid grey;
    color: #fff;
    outline: none;
}

#container-form input:focus {
    border-bottom: 1px solid #F2A007;
}

/* Esqueceu a senha */
#forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;

}

#forgot-password a {
    text-decoration: none;
    color: grey;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

#forgot-password a:hover {
    color: #F2A007;
    transition: 0.5s;
}

/* botão de envio */
#container-form input[type="submit"] {
    background-color: #F2E205;
    width: 45%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1.2s;
}

#container-form input[type="submit"]:hover {
    background-color: grey;
    color: #fff;
    transition: 1.2s;
}

/* register-se */
#register-box span, a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

#register-box a {
    color: grey;
    text-decoration: none;
    margin-left: 5px;
}

#register-box a:hover {
    color: #F2A007;
    transition: 0.5s;
}

/* rodapé do site */
#box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 10.5%;
}

#box-footer p, span {
    color: white;
    font-size: 16px;
}

#box-footer span {
    color: #F2A007;
}

/* Resposinvidade */
/* Telas de 1680px */
@media (max-width: 1680px) {
/* Rodapé do site */
#box-footer {
    margin-top: 11.2%;
}
}

/* Telas de 1440px */
@media (max-width: 1440px) {
/* Rodapé do site */
#box-footer {
    margin-top: 3%;
}
}

/* Telas de 1024px */
@media (max-width:1024px) {
/* Container da logo do site */
header img {
    width: 100px;
    height: 100px;
}

/* Container do formúlario */
#container-box {
    width: 380px;
    height: 500px;
}

/* Rodapé do site */
 #box-footer {
    margin-top: 5.5%;
}
}

/* Telas de 834px */
@media screen and (max-width:834px) {
/* Container do formúlario */
#container-box {
    margin-top: 14vh;
}

/* rodapé do site */
#box-footer {
    margin-top: 32.5%;
    background-color: transparent;
}
}

/* Telas de 768px */
@media (max-width: 768px) {
/* Container da logo do site */
header img {
    width: 80px;
    height: 100px;
}

/* Rodapé do site */
#box-footer {
    margin-top: 20%;
}
}

/* Telas de 428px */
@media (max-width: 428px) {
/* Container da logo do site */
header img {
    width: 60px;
    height: 80px;
}

/* Container do formúlario */
#container-box {
    margin-top: 7vh;

}

/* titulo do formulario */
#container-box h1 {
    font-size: 28px;
}

/* input e label */
#container-form label, input {
    font-size: 16px;
}

/* Esqueceu a senha */
#forgot-password a {
    font-size: 14px;
}

#register-box span, a {
    font-size: 14px;
}

/* Rodapé do site */
#box-footer {
    margin-top: 26%;
}
}

/* Telas de 375px */
@media screen and (max-width:375px) {
/* Container da logo do site */
header img {
    display: none;
}

/* Container do formúlario */
#container-box {
    width: 350px;
    height: 500px;
    margin-top: 2vh;
}

/* titulo do formulario */
#container-box h1 {
    font-size: 30px;
}

/* rodapé do site */
#box-footer {
    margin-top: 15.5%;
}
}

/* Telas de 320px */ 
@media screen and (max-width:320px) {
/* Container do formúlario */
#container-box {
    position: relative;
    top: -25px;
    width: 300px;
    height: 490px;
}

/* rodapé do site */
#box-footer {
    margin-top: 12.5%;
}
}


